@layer theme, base, components, utilities;

@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@font-face {
  font-family: "InterVariable";
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-optical-sizing: auto;
  src: url("/fonts/InterVariable.woff2") format("woff2");
}

@theme {
  --font-*: initial;
  --font-sans: "InterVariable", -apple-system, system-ui, "Segoe UI", "Roboto", "Helvetica";

  --tracking-*: initial;
  --tracking-tighter: -0.025em;
  --tracking-tight: -0.0125em;
}

@utility base-link {
  @apply text-black dark:text-white;
  @apply border-gray-200 dark:border-gray-700 hover:border-purple-500 outline-purple-500;
  @apply transition-colors;
}

@utility link {
  @apply base-link;
  @apply border-b;
}

@utility link-2 {
  @apply base-link;
  @apply border-b-2;
}
